header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #147af9;
    color: white;
    font-weight: 600;
    justify-content: center;
}

.router-outlet-div {
    height: 80vh;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #147af9;
    color: white;
    font-weight: 600;
    justify-content: center;
}