<div class="pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">TIME TABLE</h2>
</div>
<div *ngIf="errorShow">
    <p class="nodata-msg">
        There is mismatch in slot start and Break Start Time.
    </p>
</div>
<div *ngIf="!errorShow">
    <div  class="form-horizontal table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg" border="5" cellspacing="0" align="center" id="timeTable">
            <thead>
                <tr class="bg-info">
                    <td align="center" height="50" width="100">
                        <b>Day/Period</b>
                    </td>
                    <td *ngFor="let day of weekdays; let i = index"  align="center" height="50" class="bg-info">
                        <b>{{day}}</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let time of timeArray; let i = index">
                    <td align="center" height="50" width="100">
                        {{time}}
                    </td>
                    <td align="center" *ngFor="let day of TeacherArr">
                        {{day[i].name}}<br>
                        {{day[i].subject}}
                    </td>
                </tr>
                <tr >
                    
                    <!-- <td *ngFor="let teacher of day" align="center" height="50">
                        {{teacher.name}}<br>
                        {{teacher.subject}}
                    </td> -->
                </tr>
            </tbody>
        </table>

        <!-- <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg" border="5" cellspacing="0" align="center" id="timeTable">
            <tr class="bg-info">
                <td align="center" height="50" width="100">
                    <b>Day/Period</b>
                </td>
                <td align="center" height="50" width="100" *ngFor="let time of timeArray">
                    {{time}}
                </td>
            </tr>
            <tr *ngFor="let day of TeacherArr; let i = index" >
                <td align="center" height="50" class="bg-info">
                    <b>{{weekdays[i]}}</b>
                </td>
                
                <td *ngFor="let teacher of day" align="center" height="50">
                    {{teacher | json}}
                    {{teacher.name}}<br>
                    {{teacher.subject}}
                </td>
            </tr>
        </table> -->
    </div>
    <div class='btn-center'>
        <button class="text-center btn btn-success" (click)="exportAsPDF()">Download</button>
    </div>
</div>
